{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Asaas",
    "description" : "API pública de integração com a plataforma Asaas.",
    "version" : "3.0.0"
  },
  "servers" : [ {
    "url" : "https://api-sandbox.asaas.com",
    "description" : "Sandbox"
  }, {
    "url" : "https://api.asaas.com",
    "description" : "Produção"
  } ],
  "security" : [ {
    "Authorization" : [ ]
  } ],
  "tags" : [ {
    "name" : "Clientes"
  }, {
    "name" : "Cobranças"
  }, {
    "name" : "Cobranças com dados resumidos"
  }, {
    "name" : "Documentos de cobranças"
  }, {
    "name" : "Parcelamentos"
  }, {
    "name" : "Assinaturas"
  }, {
    "name" : "Link de pagamentos"
  }, {
    "name" : "Checkout"
  }, {
    "name" : "Cartão de crédito"
  }, {
    "name" : "Antecipações"
  }, {
    "name" : "Estornos"
  }, {
    "name" : "Chargeback"
  }, {
    "name" : "Splits"
  }, {
    "name" : "Conta Escrow"
  }, {
    "name" : "Notificações"
  }, {
    "name" : "Consulta Serasa"
  }, {
    "name" : "Negativações"
  }, {
    "name" : "Notas fiscais"
  }, {
    "name" : "Informações fiscais"
  }, {
    "name" : "Pix"
  }, {
    "name" : "Transações Pix"
  }, {
    "name" : "Pix Automático"
  }, {
    "name" : "Pix Recorrente"
  }, {
    "name" : "Transferências"
  }, {
    "name" : "Pagamento de contas"
  }, {
    "name" : "Recargas de celular"
  }, {
    "name" : "Extrato"
  }, {
    "name" : "Informações financeiras"
  }, {
    "name" : "Informações e personalização da conta"
  }, {
    "name" : "Configurações de Webhooks"
  }, {
    "name" : "Subcontas Asaas"
  }, {
    "name" : "Envio de documentos White Label"
  }, {
    "name" : "Ações em sandbox"
  }, {
    "name" : "Registro de Recebíveis"
  } ],
  "paths" : {
    "/v3/customers" : {
      "post" : {
        "tags" : [ "Clientes" ],
        "summary" : "Criar novo cliente",
        "description" : "",
        "operationId" : "criar-novo-cliente",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CustomerSaveRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomerGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "get" : {
        "tags" : [ "Clientes" ],
        "summary" : "Listar clientes",
        "description" : "",
        "operationId" : "listar-clientes",
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "description" : "Elemento inicial da lista",
          "schema" : {
            "type" : "integer",
            "example" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Número de elementos da lista (max: 100)",
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "example" : 10
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Filtrar por nome",
          "schema" : {
            "type" : "string",
            "example" : "John Doe"
          }
        }, {
          "name" : "email",
          "in" : "query",
          "description" : "Filtrar por email",
          "schema" : {
            "type" : "string",
            "example" : "john.doe@asaas.com.br"
          }
        }, {
          "name" : "cpfCnpj",
          "in" : "query",
          "description" : "Filtrar por CPF ou CNPJ",
          "schema" : {
            "type" : "string",
            "example" : "24971563792"
          }
        }, {
          "name" : "groupName",
          "in" : "query",
          "description" : "Filtrar por grupo",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "externalReference",
          "in" : "query",
          "description" : "Filtrar pelo Identificador do seu sistema",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomerListResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/customers/{id}" : {
      "get" : {
        "tags" : [ "Clientes" ],
        "summary" : "Recuperar um único cliente",
        "description" : "",
        "operationId" : "recuperar-um-unico-cliente",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único do cliente no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "cus_000005401844"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomerGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "Clientes" ],
        "summary" : "Atualizar cliente existente",
        "description" : "",
        "operationId" : "atualizar-cliente-existente",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único do cliente a ser atualizado",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "cus_000005401844"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CustomerUpdateRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomerGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "Clientes" ],
        "summary" : "Remover cliente",
        "description" : "",
        "operationId" : "remover-cliente",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único do cliente a ser removido.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "cus_000005401844"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomerDeleteResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/customers/{id}/restore" : {
      "post" : {
        "tags" : [ "Clientes" ],
        "summary" : "Restaurar cliente removido",
        "description" : "",
        "operationId" : "restaurar-cliente-removido",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único do cliente a ser restaurado.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "cus_000005401844"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CustomerRestoreRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomerGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/customers/{id}/notifications" : {
      "get" : {
        "tags" : [ "Clientes" ],
        "summary" : "Recuperar notificações de um cliente",
        "description" : "",
        "operationId" : "recuperar-notificacoes-de-um-cliente",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único do cliente no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "cus_000005401844"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NotificationListResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments" : {
      "post" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Criar nova cobrança",
        "description" : "",
        "operationId" : "criar-nova-cobranca",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentSaveRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_customer",
                    "description" : "Customer Inválido ou não informado"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "get" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Listar cobranças",
        "description" : "",
        "operationId" : "listar-cobrancas",
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "description" : "Elemento inicial da lista",
          "schema" : {
            "type" : "integer",
            "example" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Número de elementos da lista (max: 100)",
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "example" : 10
          }
        }, {
          "name" : "customer",
          "in" : "query",
          "description" : "Filtrar pelo Identificador único do cliente",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "customerGroupName",
          "in" : "query",
          "description" : "Filtrar pelo nome do grupo de cliente",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "billingType",
          "in" : "query",
          "description" : "Filtrar por forma de pagamento",
          "schema" : {
            "$ref" : "#/components/schemas/PaymentListRequestBillingType"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Filtrar por status",
          "schema" : {
            "$ref" : "#/components/schemas/PaymentListRequestPaymentStatus"
          }
        }, {
          "name" : "subscription",
          "in" : "query",
          "description" : "Filtrar pelo Identificador único da assinatura",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "installment",
          "in" : "query",
          "description" : "Filtrar pelo Identificador único do parcelamento",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "externalReference",
          "in" : "query",
          "description" : "Filtrar pelo Identificador do seu sistema",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "paymentDate",
          "in" : "query",
          "description" : "Filtrar pela data de pagamento",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "invoiceStatus",
          "in" : "query",
          "description" : "Filtro para retornar cobranças que possuem ou não nota fiscal",
          "schema" : {
            "$ref" : "#/components/schemas/PaymentListRequestInvoiceStatus"
          }
        }, {
          "name" : "estimatedCreditDate",
          "in" : "query",
          "description" : "Filtrar pela data estimada de crédito",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "pixQrCodeId",
          "in" : "query",
          "description" : "Filtrar recebimentos originados de um QrCode estático utilizando o id gerado na hora da criação do QrCode",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "anticipated",
          "in" : "query",
          "description" : "Filtrar registros antecipados ou não",
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "anticipable",
          "in" : "query",
          "description" : "Filtrar registros antecipaveis ou não",
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "dateCreated[ge]",
          "in" : "query",
          "description" : "Filtrar a partir da data de criação inicial",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "dateCreated[le]",
          "in" : "query",
          "description" : "Filtrar até a data de criação final",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "paymentDate[ge]",
          "in" : "query",
          "description" : "Filtrar a partir da data de recebimento inicial",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "paymentDate[le]",
          "in" : "query",
          "description" : "Filtrar até a data de recebimento final",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "estimatedCreditDate[ge]",
          "in" : "query",
          "description" : "Filtrar a partir da data estimada de crédito inicial",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "estimatedCreditDate[le]",
          "in" : "query",
          "description" : "Filtrar até a data estimada de crédito final",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "dueDate[ge]",
          "in" : "query",
          "description" : "Filtrar a partir da data de vencimento inicial",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "dueDate[le]",
          "in" : "query",
          "description" : "Filtrar até a data de vencimento final",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "user",
          "in" : "query",
          "description" : "Filtrar pelo endereço de e-mail do usuário que criou a cobrança",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "checkoutSession",
          "in" : "query",
          "description" : "Filtrar pelo identificador único da checkout",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentListResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/" : {
      "post" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Criar cobrança com cartão de crédito",
        "description" : "",
        "operationId" : "criar-cobranca-com-cartao-de-credito",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentSaveWithCreditCardRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_customer",
                    "description" : "Customer Inválido ou não informado"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/{id}/captureAuthorizedPayment" : {
      "post" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Capturar cobrança com Pré-Autorização",
        "description" : "",
        "operationId" : "capturar-cobranca-com-pre-autorizacao",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentPathIdRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/{id}/payWithCard" : {
      "post" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Pagar uma cobrança com cartão",
        "description" : "",
        "operationId" : "pagar-uma-cobranca-com-cartao",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentPayWithCardRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/{id}/payWithCreditCard" : {
      "post" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Pagar uma cobrança com cartão de crédito",
        "description" : "",
        "operationId" : "pagar-uma-cobranca-com-cartao-de-credito",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentPayWithCreditCardRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/{id}/billingInfo" : {
      "get" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Recuperar informações de pagamento de uma cobrança",
        "description" : "",
        "operationId" : "recuperar-informacoes-de-pagamento-de-uma-cobranca",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentBillingInfoResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/{id}/viewingInfo" : {
      "get" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Informações sobre visualização da cobrança",
        "description" : "",
        "operationId" : "informacoes-sobre-visualizacao-da-cobranca",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentViewingInfoResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/{id}" : {
      "get" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Recuperar uma única cobrança",
        "description" : "",
        "operationId" : "recuperar-uma-unica-cobranca",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Atualizar cobrança existente",
        "description" : "",
        "operationId" : "atualizar-cobranca-existente",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : "pay_080225913252"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentUpdateRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Excluir cobrança",
        "description" : "",
        "operationId" : "excluir-cobranca",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentDeleteResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/{id}/restore" : {
      "post" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Restaurar cobrança removida",
        "description" : "",
        "operationId" : "restaurar-cobranca-removida",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentPathIdRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/{id}/status" : {
      "get" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Recuperar status de uma cobrança",
        "description" : "",
        "operationId" : "recuperar-status-de-uma-cobranca",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentStatusResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/{id}/refund" : {
      "post" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Estornar cobrança",
        "description" : "",
        "operationId" : "estornar-cobranca",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentRefundRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/{id}/identificationField" : {
      "get" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Obter linha digitável do boleto",
        "description" : "",
        "operationId" : "obter-linha-digitavel-do-boleto",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentIdentificationFieldResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/{id}/pixQrCode" : {
      "get" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Obter QR Code para pagamentos via Pix",
        "description" : "",
        "operationId" : "obter-qr-code-para-pagamentos-via-pix",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentPixQrCodeResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/{id}/receiveInCash" : {
      "post" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Confirmar recebimento em dinheiro",
        "description" : "",
        "operationId" : "confirmar-recebimento-em-dinheiro",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentReceiveInCashRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/{id}/undoReceivedInCash" : {
      "post" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Desfazer confirmação de recebimento em dinheiro",
        "description" : "",
        "operationId" : "desfazer-confirmacao-de-recebimento-em-dinheiro",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentPathIdRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/simulate" : {
      "post" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Simulador de vendas",
        "description" : "",
        "operationId" : "simulador-de-vendas",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentSimulateRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentSimulateResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/limits" : {
      "get" : {
        "tags" : [ "Cobranças" ],
        "summary" : "Recuperando limites de cobranças",
        "description" : "",
        "operationId" : "recuperando-limites-de-cobrancas",
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentLimitsResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/lean/payments" : {
      "post" : {
        "tags" : [ "Cobranças com dados resumidos" ],
        "summary" : "Criar nova cobrança com dados resumidos na resposta",
        "description" : "",
        "operationId" : "criar-nova-cobranca-com-dados-resumidos-na-resposta",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentSaveRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentLeanGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_customer",
                    "description" : "Customer Inválido ou não informado"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "get" : {
        "tags" : [ "Cobranças com dados resumidos" ],
        "summary" : "Listar cobranças com dados resumidos",
        "description" : "",
        "operationId" : "listar-cobrancas-com-dados-resumidos",
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "description" : "Elemento inicial da lista",
          "schema" : {
            "type" : "integer",
            "example" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Número de elementos da lista (max: 100)",
          "schema" : {
            "maximum" : 100,
            "type" : "integer",
            "example" : 10
          }
        }, {
          "name" : "customer",
          "in" : "query",
          "description" : "Filtrar pelo Identificador único do cliente",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "customerGroupName",
          "in" : "query",
          "description" : "Filtrar pelo nome do grupo de cliente",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "billingType",
          "in" : "query",
          "description" : "Filtrar por forma de pagamento",
          "schema" : {
            "$ref" : "#/components/schemas/PaymentListRequestBillingType"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Filtrar por status",
          "schema" : {
            "$ref" : "#/components/schemas/PaymentListRequestPaymentStatus"
          }
        }, {
          "name" : "subscription",
          "in" : "query",
          "description" : "Filtrar pelo Identificador único da assinatura",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "installment",
          "in" : "query",
          "description" : "Filtrar pelo Identificador único do parcelamento",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "externalReference",
          "in" : "query",
          "description" : "Filtrar pelo Identificador do seu sistema",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "paymentDate",
          "in" : "query",
          "description" : "Filtrar pela data de pagamento",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "invoiceStatus",
          "in" : "query",
          "description" : "Filtro para retornar cobranças que possuem ou não nota fiscal",
          "schema" : {
            "$ref" : "#/components/schemas/PaymentListRequestInvoiceStatus"
          }
        }, {
          "name" : "estimatedCreditDate",
          "in" : "query",
          "description" : "Filtrar pela data estimada de crédito",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "pixQrCodeId",
          "in" : "query",
          "description" : "Filtrar recebimentos originados de um QrCode estático utilizando o id gerado na hora da criação do QrCode",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "anticipated",
          "in" : "query",
          "description" : "Filtrar registros antecipados ou não",
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "anticipable",
          "in" : "query",
          "description" : "Filtrar registros antecipaveis ou não",
          "schema" : {
            "type" : "boolean",
            "example" : null
          }
        }, {
          "name" : "dateCreated[ge]",
          "in" : "query",
          "description" : "Filtrar a partir da data de criação inicial",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "dateCreated[le]",
          "in" : "query",
          "description" : "Filtrar até a data de criação final",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "paymentDate[ge]",
          "in" : "query",
          "description" : "Filtrar a partir da data de recebimento inicial",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "paymentDate[le]",
          "in" : "query",
          "description" : "Filtrar até a data de recebimento final",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "estimatedCreditDate[ge]",
          "in" : "query",
          "description" : "Filtrar a partir da data estimada de crédito inicial",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "estimatedCreditDate[le]",
          "in" : "query",
          "description" : "Filtrar até a data estimada de crédito final",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "dueDate[ge]",
          "in" : "query",
          "description" : "Filtrar a partir da data de vencimento inicial",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "dueDate[le]",
          "in" : "query",
          "description" : "Filtrar até a data de vencimento final",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "user",
          "in" : "query",
          "description" : "Filtrar pelo endereço de e-mail do usuário que criou a cobrança",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "checkoutSession",
          "in" : "query",
          "description" : "Filtrar pelo identificador único da checkout",
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentLeanListResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/lean/payments/" : {
      "post" : {
        "tags" : [ "Cobranças com dados resumidos" ],
        "summary" : "Criar cobrança com cartão de crédito com dados resumidos na resposta",
        "description" : "",
        "operationId" : "criar-cobranca-com-cartao-de-credito-com-dados-resumidos-na-resposta",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentSaveWithCreditCardRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentLeanSaveWithCreditCardResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_customer",
                    "description" : "Customer Inválido ou não informado"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/lean/payments/{id}/captureAuthorizedPayment" : {
      "post" : {
        "tags" : [ "Cobranças com dados resumidos" ],
        "summary" : "Capturar cobrança com Pré-Autorização com dados resumidos na resposta",
        "description" : "",
        "operationId" : "capturar-cobranca-com-pre-autorizacao-com-dados-resumidos-na-resposta",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentPathIdRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentLeanGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/lean/payments/{id}" : {
      "get" : {
        "tags" : [ "Cobranças com dados resumidos" ],
        "summary" : "Recuperar uma única cobrança com dados resumidos",
        "description" : "",
        "operationId" : "recuperar-uma-unica-cobranca-com-dados-resumidos",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentLeanGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "Cobranças com dados resumidos" ],
        "summary" : "Atualizar cobrança existente com dados resumidos na resposta",
        "description" : "",
        "operationId" : "atualizar-cobranca-existente-com-dados-resumidos-na-resposta",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentPathIdRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentLeanGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "Cobranças com dados resumidos" ],
        "summary" : "Excluir cobrança com dados resumidos",
        "description" : "",
        "operationId" : "excluir-cobranca-com-dados-resumidos",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentDeleteResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/lean/payments/{id}/restore" : {
      "post" : {
        "tags" : [ "Cobranças com dados resumidos" ],
        "summary" : "Restaurar cobrança removida com dados resumidos na resposta",
        "description" : "",
        "operationId" : "restaurar-cobranca-removida-com-dados-resumidos-na-resposta",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentPathIdRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentLeanGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/lean/payments/{id}/refund" : {
      "post" : {
        "tags" : [ "Cobranças com dados resumidos" ],
        "summary" : "Estornar cobrança com dados resumidos na resposta",
        "description" : "",
        "operationId" : "estornar-cobranca-com-dados-resumidos-na-resposta",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentRefundRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentLeanGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/lean/payments/{id}/receiveInCash" : {
      "post" : {
        "tags" : [ "Cobranças com dados resumidos" ],
        "summary" : "Confirmar recebimento em dinheiro com dados resumidos na resposta",
        "description" : "",
        "operationId" : "confirmar-recebimento-em-dinheiro-com-dados-resumidos-na-resposta",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentReceiveInCashRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentLeanGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/lean/payments/{id}/undoReceivedInCash" : {
      "post" : {
        "tags" : [ "Cobranças com dados resumidos" ],
        "summary" : "Desfazer confirmação de recebimento em dinheiro com dados resumidos na resposta",
        "description" : "",
        "operationId" : "desfazer-confirmacao-de-recebimento-em-dinheiro-com-dados-resumidos-na-resposta",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentPathIdRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentLeanGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/{id}/documents" : {
      "post" : {
        "tags" : [ "Documentos de cobranças" ],
        "summary" : "Fazer upload de documentos da cobrança",
        "description" : "",
        "operationId" : "fazer-upload-de-documentos-da-cobranca",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentDocumentSaveRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentDocumentGetResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "get" : {
        "tags" : [ "Documentos de cobranças" ],
        "summary" : "Listar documentos de uma cobrança",
        "description" : "",
        "operationId" : "listar-documentos-de-uma-cobranca",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PaymentDocumentListResponseDTO"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "invalid_access_token",
                    "description" : "A chave de API fornecida é inválida"
                  } ]
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."
          },
          "404" : {
            "description" : "Not found"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponseDTO"
                },
                "example" : {
                  "errors" : [ {
                    "code" : "error_code",
                    "description" : "Descrição do erro"
                  } ]
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/v3/payments/{id}/documents/{documentId}" : {
      "put" : {
        "tags" : [ "Documentos de cobranças" ],
        "summary" : "Atualizar definições de um documento da cobrança",
        "description" : "",
        "operationId" : "atualizar-definicoes-de-um-documento-da-cobranca",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identificador único da cobrança no Asaas",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "documentId",
          "in" : "path",
          "description" : "Identificador único do documento",
          "required" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PaymentDocumentUpdateRequestDTO"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
[...]
